body{background: white url(https://cloud.githubusercontent.com/assets/18086617/16283126/cc8f7aec-38cb-11e6-91fa-d7eb7ff61c29.png);margin: 0;padding: 0;font: 26px/32px Arial, Tahoma, sans-serif;}
    body,
    html {
      margin: 0px;
      height: 1500px;
    }
header{
  margin-top: -100px;
  position: fixed;
  width: 100%;
  text-align: center;
  font-size: 46px;
  line-height: 75px;
  background: white url(https://cloud.githubusercontent.com/assets/18086617/16282825/aa62c7a4-38ca-11e6-9655-47a6e6e00c11.jpg);
  color: #87CEFA;
  font-family: 'PT Sans', sans-serif;
  transition: all 0.7s ease;
  text-shadow: 2px 2px 3px #777;
  border:1px solid #ebebee;
  border-bottom:3px solid #ddd;
}
header.sticky {
  font-size: 36px;
  line-height: 48px;
  height: 48px;
  background: white url(https://cloud.githubusercontent.com/assets/18086617/16282836/c074b46c-38ca-11e6-97f6-3d38bd719a4b.jpg);
  text-align: left;
  padding-left: 20px
  color: #87CEFA;
}
.nos{
  padding-top:400px;
  text-align: center;
  text-shadow: 2px 2px 3px #777;
}
.topmenu {float: right;height: 70px;line-height: 70px;margin-right: 20px;width: 600px; font-size: 38px;}
.topmenu a{margin:0 0 0 10px;color: white;}
.topmenu a:hover{color: #a3a1f3;}
    .head {
      margin-top: 120px;
      width:100%;
      height: 400px;
      background: white url(https://cloud.githubusercontent.com/assets/18086617/16282844/cecd7e68-38ca-11e6-9d07-8e2ae7eb3ca1.jpg);
      box-shadow: 6px 6px 14px -1px #777;
    }
    .under{
      margin-left: 120px;
      margin-top: 110px;
    }
    .text {
      font-size: 34px;
      color: white;
    }
    .text a:hover{
      text-transform: uppercase;
    }
    .anons{
      width: 466px;
      height: 565px;
      background: white;
      margin-left: 110px;
      border: 1px solid black;
      box-shadow: 3px 3px 7px -1px black;
    }
    .anons img {
      margin-left: 9px;
      margin-top: 5px;
      border-radius: 3px;
    }
    .anons img:hover{
      transform:scale(1.04) rotate(-1deg);
      transition: transform 0.7s;
    }
    .ask{
      margin-top: -15px;
      line-height: 30px;
    }
    .like{
      margin-left: 40px;
      margin-top: -84px;
    }
    .like:hover{
    transform:scale(1.01) rotate(0);
    transition: transform 0.8s;
    }
    .likers{
     margin-top: 3px;
     margin-left: 73px;
     font-size: 20px;
     color: #2D6875;
    }
    .added{
     margin-top: -70px;
     margin-left: 300px;
     font-size: 14px;
     color: #2D6875;
    }
    .comments{
     margin-top: 10px;
     margin-left: 100px;
     font-size: 24px;
     color: #2D6875;
    }
    #rezume{
      margin-right: 30px;
      margin-top: 200px;
      float: center;
      width: 83%;
      height: 50%;
      max-width: 1120px;
      max-height: 760px;
      background: white;
      margin-left: 110px;
      border: 1px solid black;
      box-shadow: 3px 3px 7px -1px black;
      text-align: center;
      background: white url(https://cloud.githubusercontent.com/assets/18086617/16282763/6b5d509c-38ca-11e6-9548-51b6b8d4237b.jpg);
    }
    #rezume h4{
      font-size: 24px;
    }
    #rezume p{
      font-size: 18px;
    }
    #rezume h3{
      font-size: 30px;
    }
    .prof{
      width: 300px;
      float: right;
      margin-top: 50px;
      margin-right: 200px;
      color: #2D6875;
    }
    .footer{text-align: center;margin-top:100px;}
.footer span{margin: 0px 30px;}
.kart{ width:95%;padding: 20px 50px 0 50px;margin-bottom: 20px;
  background: linear-gradient(90deg,#c16a8a 100px,#a367ba 100px,#a367ba 200px,#2987bf 200px,#2987bf 300px,
    #76a7ac 300px,#76a7ac 400px,#93ae65 400px,#93ae65 500px,#dbb16f 500px);
      background-color: #f2f2f2;background-size: 600px 10px}

      @media screen and (min-width:200px) and (max-width:1200px){
        .head{
          width: 108%;
        }
       .anons{
        margin-left: 20px;
        width: 40%;
        height: 140%;
       }
       header header.sticky #rezume .topmenu {
        width: 45%;
       }
       #me{
        height: ;
        width: 90%;
      margin-top: 10px;
      margin-left: 20px;
       }
       .prof{
        font-size: 26px;
        width: 250px;
        float: right;
        margin-right: 200px;
       }
       .topmenu aside{
       height: 70px;line-height: 70px;margin-right:-50px;width: 500px; font-size: 26px; float: right;
       }
       .text{
        font-size:22px;
        margin-right: 40px;
        line-height: 40px;width: 400px;
        float: right;
       }

      }
      @media screen and (min-width:100px) and (max-width:900px){
       .anons{
        width:45%;
       }
       #me{
      margin-top:0px;
    }
           .prof{
        font-size: 20px;
        width: 300px;
        float: right;
        margin-right: 0px;
       }
              .topmenu aside{
       height: 70px;line-height: 50px;margin-right:45px;width: 300px; font-size: 20px; float: right;
       }
       .text{
        font-size:16px;
        margin-right: 10px;
        line-height: 40px;width: 330px;
        float: right;
       }
    #rezume h4{
      font-size: 20px;
    }
    #rezume p{
      font-size: 16px;
    }
    #rezume h3{
      font-size: 24px;
    }
    .added {
      margin-top: -50px;
      line-height: 20px;
    }
    .like{
      margin-top: -111px;
    }
    }
            @media screen and (min-width:100px) and (max-width:768px){
              body{ height: 1500px; }
       .anons header header.sticky #rezume .topmenu {
        width: 40%;
       }
       .anons{
        width:40%;
        height: 115%;
       }
       #me{
      margin-top:-30px;
      margin-left: 15px;
       }
       .like{
        margin-top: -100px;
       }
       .likers{
        margin-top: 20px;
        margin-left: 75px;
        font-size: 16px;
       }
       .added{
        margin-left: 150px;
        margin-top: -75px;
       }
       .comments{
        margin-top: 50px;
        margin-left: 40px;
       }
       .prof{
        font-size: 24px;
        width: 300px;
        float: right;
        margin-right: 0px;
       }
       .topmenu aside{
       height: 70px;line-height: 70px;margin-right:-20px;width: 370px; font-size: 18px; float: right;
       }
       .text{
        font-size:16px;
        margin-right: 30px;
        line-height: 40px;width: 330px;
        float: right;
       }
    #rezume{
      margin-left: 65px;
    }
    #rezume h4{
      font-size: 18px;
    }
    #rezume p{
      font-size: 14px;
    }
    #rezume h3{
      font-size: 22px;
    }
      }

    @media screen and (min-width:100px) and (max-width:700px){
    #me img{
     margin-left: 10px;
     margin-top: 0px;
    }
    #rezume{
      margin-left: 50px;
    }
        #rezume h4{
      font-size: 16px;
    }
    #rezume p{
      font-size: 12px;
    }
    #rezume h3{
      font-size: 20px;
    }
    .resume{
      font-size: 22px;
    }
    .prof{
      margin-top: 25px;
      font-size: 20px;
      margin-right: -80px;
      margin-left: 100px;
    }
    .anons{
      margin-left:5px;
      height: 100%;
    }
    .added{
      font-size: 12px;
      margin-left: 110px;
    }
    .like{
      margin-top:-95px; 
    }
    .comments{
      font-size: 20px;
      margin-left: 20px;
    }
    .topmenu aside{
       height: 70px;line-height: 70px;margin-right:-50px;width: 300px; font-size: 16px; float: right;
    }
    .text{
        font-size:16px;
        margin-top: 80px;
        margin-right: -240px;
        line-height: 40px;width: 250px;
        float: right;
       }
     }
     @media screen and (min-width:100px) and (max-width:530px){
      .anons{
      height: 100%;
      margin-top: px;
      }
      #me{
      margin-left: 5px;
      margin-top: -20px;
      }
      .text{
        font-size: 12px;
      }
      .comments{
        font-size: 15px;
        margin-top: 80px;
      }
      .like{
        margin-top: -120px;
        margin-left: 5px;
      }
      .likers{
        font-size: 15px;
        margin-left: 40px;
      }
      .added{
        font-size: 10px;
        margin-top: -75px;
        margin-left: 50px;
      }
      .topmenu aside{
      height: 50px;line-height: 50px;margin-right:-85px;width: 300px; font-size: 16px; float: right;
    }
    #rezume{
      margin-left: 45px;
    }
        #rezume h4{
      font-size: 16px;
    }
    #rezume p{
      font-size: 10px;
    }
    #rezume h3{
      font-size: 18px;
    }
    .resume{
      font-size: 20px;
    }
    }
    @media screen and (min-width:100px) and (max-width:390px){
    .text{
      font-size: 5px;
    }
    .topmenu aside{
    height: 50px;line-height: 50px;margin-right:-85px;width: 300px; font-size: 16px; float: right;
    }
    .
    .anons{
      height: 100%;
    }
header{
  margin-top: -60px;
  font-size: 25px;
  line-height: 40px;
  width: 90%;
}
header.sticky {
  font-size: 20px;
  line-height: 35px;
  height: 30px;
  width: 90%;
}
body{
  height: 1150px;
  width: 350px;
}
.head {
      margin-top: 75px;
      width:100%;
      height: 200px;
      box-shadow: 6px 6px 14px -1px #777;
    }
    .prof{
      font-size: 15px;
      margin-right: -150px;
    }
    .likers{
      font-size: 10px;
      margin-top: 0px;
      line-height: 20px;
    }
    .comments{
    font-size: 11px;
    margin-top: 40px;
    margin-left: 12px;
    }
    .added{
     font-size: 7px;
     margin-top: -63px;
     margin-left: 50px;
    }
    .anons{
      height: 120%;
    }
    .like{
      margin-top: -90px;
    }
    #rezume{
      margin-top: 90px;
    }
#me{
  margin-top: -60px;
}
.topmenu aside{
  height: 50px;line-height: 50px;margin-right:-155px;width: 300px; font-size: 12px; float: right;
}
#rezume{
  height: 120%;
}
    #rezume h4{
      font-size: 14px;
    }
    #rezume p{
      font-size: 10px;
      line-height: 26px;
    }
    #rezume h3{
      font-size: 16px;
    }
    .resume{
      font-size: 18px;
    }
    .myf{
      font-size: 12px;
    }
    .foll{
      font-size: 8px;
    }
    .footer{
      width: 70%;
    }
    }
